body {
    background-color: rgb(215, 232, 234);
    font-size: 18px;
}

.header h1 {
    display: flex;
    justify-content: start;
    font-family: 'Times New Roman', Times, serif;
    font-size: 200%;
    width: 100%;
    height: 100%;
    background-color: rgb(96, 145, 165);
}

.header h2 {
    display: flex;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100%;
    background-color: bisque;
}
/* Why cant i make this button bigger? */
.start{
    margin: 50px;
    display: flex;
    justify-content: center;
    font-size: 150%;
}

.quiz-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100%;
    font-size: 120%;
    width: 100%;
    height: 100%;
    background-color: rgb(215, 232, 234);

}

.quiz {
    background-color: hsl(0, 0%, 100%);
    border-radius: 5px;
    border-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
    color: hsl(206, 17%, 28%);
    font-size: 18px;
    margin: 40px auto;
    max-width: 800px;
    padding: 30px 40px;
    
  }

  .answers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
  }
