 /* Style the container */
  .container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 20px;
    font-size: 25px;
  }
  /* Style the header */
  .header {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .header h1 {
    font-size: 120%;
    font-weight: bold;
    margin-bottom: 20px;
    background-color: antiquewhite;
  }
  
  .header h2 {
    line-height: 1.5;
  }
  
  /* Style the start button */
  .start {
    text-align: center;
    margin-bottom: 50px;
  }
  
  .start button {
    font-size: 105%;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #88a4ea;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .start button:hover {
    background-color: #162f4a;
  }

  /* Style the restart button

    .restart {
      display: none; 
      text-align: center;
      margin-bottom: 50px;
    }
    
    .restart button {
      font-size: 105%;
      font-weight: bold;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      background-color: #88a4ea;
      color: #fff;
      cursor: pointer;
      transition: background-color 0.3s;
    }
  
    .restart button:hover {
      background-color: #162f4a;
    } 
    */
  
  /* Style the timer and score */
  .timer, .score {
    margin-bottom: 20px;
  }
  
  .timer h2, .score h2 {
    font-size: 105%;
  }
  
  .timer span, .score span {
    font-size: 120%;    
  }
  
  /* Style the quiz header */
  .quiz-header {
    margin-bottom: 20px;
  }

  .question {
    display: flex;
    justify-content: center;
  }
  
  .quiz-header h1 {
    font-size: 105%;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  /* Style the answers */
  .answers {
    display: flex;
    flex-wrap: wrap;
  }
  
  .answers button {
    flex: 1;
    font-weight: bold;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4d738ae4;
    color: #fffefe;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .answers button:hover {
    background-color: rgb(200, 188, 172);
  }

  .quiz-end {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .leaderBoard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .leaderBoard h1 {
    font-size: 105%;
    font-weight: bold;
    margin-bottom: 10px;
    background-color:antiquewhite
  }

  @media screen and (max-width: 750px) {
    .answers button {
      flex: 1 1 100%;
    }
  }
  
